body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.bigboi{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    height: 384px;
    width: 384px;
    /* justify-content: space-between; */
}

.tile{
    border: 2px solid red;
    /* padding-left: 400px; */
    width: 20px;
    height: 20px;
    color: wheat;
    padding: 0;
}

